<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/p5.min.js"></script>
    <script  src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/d3.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <link rel="icon" href="..\static\assests\favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="../static/js/math.min.js"></script>


        <!-- swiper -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/js/swiper.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.2/css/swiper.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Digital Filter  </title>

</head>
<body>
    

    <nav class="fixed-top navbar-top bg-dark" id="nav">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
         
            <li class="nav-item">
                <a class="nav-link text-light" id="filter-tab" data-toggle="tab" role="tab" onclick="opentab()"> Apply All Pass Filter</a>
            </li>
          
        </ul>
        
    </nav> 


<div id="bod">

    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closetab()">&times;</a>
        <div class="overlay-content">
            <div class="apfres">
                <div id="form">
                    <form class="login-form"  action="javascript:void(0);">
                        <h1> </h1>
                        <div class="form-input-material">
                        <input type="number"  id="real" name="real" placeholder="Real" autocomplete="off" class="form-control-material"  />
                        </div>
                        <div class="form-input-material">
                        <input type="number"  id="imaginary" name="imaginary" placeholder="Imaginary" autocomplete="off" class="form-control-material"/>
                        </div>
                        <button type="submit" class="btn btn-primary btn-ghost" id="formbtn" onclick="review()" >Review</button>
                        <button type="submit" class="btn btn-primary btn-ghost" id="formbtn" onclick="addItem2([],1)" >Apply</button>
                    </form>
                </div>
                
                <div>
                    <p class="h2 text-light">Review Phase<p>
                    <div class="content" id="filteredphaseres">
                    
                    </div>
                    <div>
                        <p class="h2 text-light">Final Phase<p>
                        <div class="content" id="finalfilteredphaseres"></div>
                    </div>
                    
                </div>
                

                <div id="apflist">
                    <ul id="list"></ul>
                </div>
    
                
            </div>
    
    
            <div class="slidercontainer">
    
                <div class="swiper_wrap">
                    <div class="slider-wrapper">
                        <div class="swiper-button-prev"></div>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" id="phase1">
                                        <img src="..\static\assets\apfphase\(a = -0.5).png" onclick="addItem2([-0.5,0],0)">
                                        <div class="avalue">a = -0.5</div>
                                    </div>
                                    <div class="swiper-slide" id="phase2">
                                        <img src="..\static\assets\apfphase\(a = 0.1).png"onclick="addItem2([0.1,0],0)">
                                        <div class="avalue">a = 0.1 </div>
    
    
                                    </div>
                                    <div class="swiper-slide" id="phase3" >
                                        <img src="..\static\assets\apfphase\(a = 0.5).png" onclick="addItem2([0.5,0],0)">
                                        <div class="avalue">a = 0.5</div>
    
                                       
                                    </div>
                                    <div class="swiper-slide" id="phase4">
                                        <img src="..\static\assets\apfphase\(a = 0.9).png" onclick="addItem2([0.9,0] , 0)">
                                        <div class="avalue">a = 0.9</div>
    
    
                                    </div>
                                    <div class="swiper-slide" id="phase5">
                                        <img src="..\static\assets\apfphase\(a = 1+1j).png" onclick="addItem2([1,1],0)">
                                        <div class="avalue">a = 1+1j</div>
    
    
                                    </div>
                                    <div class="swiper-slide"id="phase6">
                                        <img src="..\static\assets\apfphase\(a = -0.9).png" onclick="addItem2([-0.9,0],0)">
                                        <div class="avalue">a = -0.9</div>
                                    </div>
                                   
                                </div>
                                <!-- Add Pagination -->
                                <div class="swiper-pagination"></div>
                            </div>
                        <div class="swiper-button-next"></div>
                    </div>   
                </div>
            </div>
        </div>
    </div> 



    <div class="cir_container" id="cir">
    
        <div id="cont">
            <div class="element_div2 control-panel">
              <div class="toggle-div" id="design-unit-circle">
                <div id="circle-control" class="button-element">
                  <button id="zero" class="btn btn-dark mode-control">Add Zeros</button>
                </div>
                <div class="button-element dark-button">
                  <button id="pole" class="btn btn-dark mode-control">Add Poles</button>
                </div>
              </div>
              <div class="button-remove" onclick="remove(this)">
                <button class="btn btn-dark" id="remove">Delete</button>
              </div>
              <div class="button-clear">
                <button class="btn btn-dark" id="clear">Clear All</button>
              </div>
              <div class="button-clear">
                <button class="btn btn-dark" id="clearzeros">Clear Zeros</button>
              </div>
              <div class="button-clear">
                <button class="btn btn-dark" id="clearpoles">Clear Poles</button>
              </div>
              <div class="button-conj">
                <input type="checkbox" id="conj">
                <label for="conj">Conjugate</label>
              </div>
            </div>
          </div>
    
        
        <div class="element_div3" id="circle-canvas"> 
        </div>
    
    
    
    
        
        <div id="mag-phase">
            <div class="element div6 lightel">
                <p class="h2 text-dark text-center">Phase Response<p>
                <div id="filter-phase-response" class="response-plotting"> </div>
                 
            </div>
        
            <div class="element_div7_darkel">
                <h2 class="text-dark text-center">Magnitude Response</h2>
        
                <div id="filter-mag-response" class="response-plotting"> </div>
            </div>
        </div>
        
    </div>

    
    

</div>
  
<div id="upl">
<div>
    <div class="upload">
        <label for="sig" class="file-upload-button">Browse Signal</label>
        <input type="file"
               id="sig" name="signal"
               accept=".xlsx, .xls, .csv" oninput="importSignal()">
    </div><br>
    <label for="sampling" id="noiselabel">Filtering speed:</label>

    <input type="range" min="0" max="60" value="1" class="slider" id="sampling"><br>
            Filtering rate : <span id="SROutput"></span>

</div>

<div class="input_output">
    <div>
        <p class="h2 text-dark text-center">Input Signal</p>
        <div id="input_sig">

        </div>
    </div>


    <div>
        <p class="h2 text-dark text-center">Filtered Signal</p>
    <div id="output_sig">
       
    </div>
    </div>

</div>
</div>

</div>


    <script src="../static/js/zeros_poles_plot.js"></script>
    <script src="../static/js/front_to_back.js"></script>
    <script src="../static/js/imported_sig.js"></script>
    <script src="../static\js\All_pass_filter.js"></script>


</body>

</html>