<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="../static/js/p5.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="../static/css/index.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Digital Filter  </title>

</head>
<body>
    <div class="element div2" > 
        <div class="toggle-div" id="design-unit-circle" style="margin-right: 10px;">
        <div id='circle-control' class="button-element">
            <button id= "zero" class="btn-cricle-control mode-control">Add Zeros</button>
        </div>
        <div class="button-element dark-button">
        <button id="pole" class="btn-cricle-control mode-control" >Add Poles</button>
        </div>

        </div>
        <div  class="button-remove" onclick="remove(this)" style="margin-left: 10px;">
            <button id="remove" >Delete</button>
        </div>
        <div  class="button-clear" style="margin-left: 10px;">
            <button id="clear" >Clear All</button>
        </div>
        <div  class="button-clear" style="margin-left: 10px;">
            <button id="clearzeros" >Clear zeros</button>
        </div>
        <div  class="button-clear" style="margin-left: 10px;">
            <button id="clearpoles" >Clear poles</button>
        </div>
        <div  class="button-conj" style="margin-left: 10px;">
            <input type="checkbox" id="conj">
            <label for="conj">Conjucate</label>
        </div>

    </div>

    
    <div class="element div3" id="circle-canvas"> 
	</div>
    <div>
        <div class="upload">
            <label for="sig" class="file-upload-button">Browse Signal</label>
            <input type="file"
                   id="sig" name="signal"
                   accept=".xlsx, .xls, .csv" oninput="importSignal()">
        </div><br>
    </div>


    <div class="element div6 lightel">
		<h2>Phase Response</h2>
		<div id="filter-phase-response" class="response-plotting"> </div>
         
	</div>

	<div class="element div7 darkel">
		<h2>Magnitude Response</h2>

		<div id="filter-mag-response" class="response-plotting"> </div>
	</div>


    <script src="../static/js/zeros_poles_plot.js"></script>
    <script src="../static/js/front_to_back.js"></script>
    <script src="../static/js/imported_sig.js"></script>


</body>

</html>